.navigation-bar {
  width: 100%;
  height: 300px;
  background-color: black;
  display: flex;
  align-self: center;
  margin-top: -9px;
  margin-left: -9px;
}
.navigation-bar > img {
  display: inline-block;
  vertical-align: top;

  height: 35%;
}
.navigation-bar > a {
  flex: 2;
  flex-basis: 50%;
  flex-wrap: wrap;
  display: inline-block;
  vertical-align: top;
  /* margin-left: 30px; */
  height: 100px;
  line-height: 100px;
  color: white;
  font-size: 20;
  font-family: "Montserrat", sans-serif;
}
.menu_items > button {
  background-color: #0388fc;
  color: white;

  border-radius: 30px;

  padding: 0px 2px;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  border-color: #0388fc;
}
.menu_items {
  margin-left: 20%;
  width: 100%;
}
.menu_link {
  padding: 5%;
  border-right: 1px solid gray;
  color: white;
}
/*@media screen and (max-width: 600px) {
body{
    float: none;
    width: 100%;
}
}
*/
.bannerimg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("image/bannerimg.jpeg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: -170px;
  font-family: "Montserrat", sans-serif;
}
.bannertext {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Montserrat", sans-serif;
}
.sec1 > h1 {
  text-align: center;
}
.sec2 > p {
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-left: 150px;
  margin-right: 150px;
}
.grid-item1 {
  height: 100%;
  padding: 3px;
}
.grid-item2 {
  padding: 3px;
}
.grid-item3 {
  padding: 3px;
}
.grid-item2 > img {
  height: 49%;
  width: 30%;
  padding: 3px;
}
.grid-item3 > img {
  height: 49%;
  width: 30%;
  padding: 3px;
}

.browse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}
.para {
  color: #0384fc;
}
.sec4 {
  background-color: white;
  margin-top: 1000px;
  padding: 100px;
  border: 1px solid gray;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.sec4 > h1 {
  text-align: center;
  position: top;
}
.sec4 > label {
  position: right;
}
.sec5 {
  background-color: black;
  margin-top: 1000px;
  padding: 100px;
  border: 1px solid gray;
  margin: 0;
}
.left-foot {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-family: "Montserrat", sans-serif;
}
.leftFoot {
  color: rgb(250, 250, 250);
  font-size: 10px;
  position: relative;
  bottom: -80px;
}
.centerFoot {
  color: rgb(250, 250, 250);
  font-size: 20px;
  position: absolute;
  left: 40%;
  /* bottom: -30px; */
}
.center-foot {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif; */
  position: relative;
  bottom: 200px;
  left: 30%;
}
.centerfoot > button {
  background-color: #0388fc;
  color: white;
  border-radius: 40px;
  width: 90px;
  height: 30px;
  order: 0;
  flex: 0 1 auto;
  align-self: center;
  display: flex;
  position: absolute;
  top: -90px;
}
.centerFoot > h3 {
  top: -160px;
  font-size: 20px;
  position: relative;
  right: 30%;
}

.right-foot {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
}
.right-foot > i {
  padding: 3px;
  size: 60px;
}
.logo {
  /*@media (max-width: 575px){
height: 45px;

  } */
  @media (min-width: 1200px) {
    height: 100px;
  }
}

@media screen and (min-width: 1200px) {
  /*desktop view */
  .logo {
    height: 100px;
    margin-top: -10px;
  }
}

@media screen and (max-width: 575px) {
  .logo {
    height: 40px;
  }
}
